{% extends "base.html" %}{% block content %}
    <h1>{{ post }}</h1>
    <p class="byline">
        Posted by {{ post.author }} &mdash; {{ post.published_date }}
    </p>
    <div class="post-body">
        {{ post.text }}
    </div>
    <ul class="categories">
        {% for category in post.categories.all %}
            <a class="btn btn-outline-primary rounded-pill" href="{% url 'blog_cat' category.id %}">{{ category }}</a>
        {% endfor %}
    </ul>
    </div>
{% endblock %}